{% extends 'bikes/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block content %}
<style type="text/css">
    <!--
     .tab { margin-left: 40px; }
    -->
</style>
    <div class="container">
        <h1>Welcome to the Rainy Bikes front page</h1>
        <div class="row">
            <form>
                <fieldset>
                    <legend>Select a station</legend>
                    <p>
                        <label>Select a station</label>
                        <select id="stationList" onchange="showInfo()">
                            <option value="" selected disabled hidden>Select here</option>

                            
                            <!--I used the variables I needed as id and value for the options in the dropdown menu. -->
                            <!-- I was not sure how to find those values inside a javascript function.-->
                            {% for location in locations %}
                                <option id={{location.bikes_set.first.id}} value={{location.bikes_set.count}}>{{location.station_name}}</option>
                            {% endfor %}
                        </select>
                    </p>
                </fieldset>
            </form>
            
            
                <p class ="tab" id="location_info"></p>
                <button class ="tab" type="button" onclick="hireBike()">Hire a bike</button>
                <p class ="tab" id="bike_info"></p>
            

        </div>
    </div>

    <script>
        function showInfo() {
            var selected = document.getElementById("stationList");
            var stationbikenumber = selected.options[selected.selectedIndex].value;
            var stationname = selected.options[selected.selectedIndex].text;
            var locinfo = document.getElementById("bike_info");
            locinfo.innerHTML = (stationname + ' station currently has ' + stationbikenumber + ' available for hire.');
        }
    </script>

    <script>
        function hireBike() {
            var selected = document.getElementById("stationList");
            var bikeid = selected.options[selected.selectedIndex].id;
            var stationname = selected.options[selected.selectedIndex].text;
            var bikeinfo = document.getElementById("location_info");
            bikeinfo.innerHTML = ("You have hired bike number " + bikeid + " at " + stationname + " station.");
        }
    </script>

{% endblock %}