{% extends 'bikes/base.html' %}
{% load static %}
{% load bikes_filters %}



{% block title_block %}
    Operator page
{% endblock %}

{% block content %}
    <div class="container">

        <div class="mt-4">
            <img src="{% static 'images/operator_icon.png' %}" class="icon mr-2" />
            <h3 class="text-success d-inline">RainyBikes operator controls</h3>
        </div>
        <hr/>
        
        
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a data-toggle="modal" href="#move-bike-modal">
                            <i class="zmdi zmdi-swap-vertical-circle text-success"></i>
                            Move bikes
                        </a>
                    </h5>
                    <p class="card-text text-success">
                        Move bike from one station to another.
                    </p>
                </div>
            </div>
        

        
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="zmdi zmdi-wrench text-success"></i>
                        Repair a bike
                    </h5>
                    <p class="card-text text-success">
                        Repair a bike that has been reported as defective.
                    </p>
                </div>
            </div>
        
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a data-toggle="modal" href="#track-bike-modal">
                            <i class="zmdi zmdi-gps-dot text-success"></i>
                            Track bikes
                        </a>
                    </h5>
                    <p class="card-text text-success">
                        Find out where a certain bike is situated.
                    </p>
                </div>
            </div>
            
        </div>
        

    </div>


    {% include 'includes/move_bike_modal.html' %}

    {% include 'includes/track_bike_modal.html' %}

{% endblock %}

{% block js %}

    <script>
        function showLocation() {
                var url = "{{ trackurl|safe }}"
                var bike = document.getElementById("track-bike-input");
                var bikeID = parseInt(bike.value);
                var locinfo = document.getElementById("location-info");
                
                
                $.post(url, {"bike_id": bikeID}, function(data) {
                    var location = data.bike_location
                    if (location != "None") {
                        locinfo.innerHTML = ("Bike number " + bikeID + " is located at " + location);
                    }

                })
            }
    </script>

    <script>
        $("#move-bike-btn").on("click", function() {
            $("#move-bike-form").submit()
        })
            
    </script>

    <script>
        $("#track-bike-btn").on("click", function(e) {
            e.preventDefault()

            showLocation()
        })
            
    </script>

    

{% endblock %}